<%- include('partials/header') %>


<h1>ユーザーデータ削除について</h1>
    <p>当アプリに保存されたユーザーデータを削除したい場合は、以下の方法でリクエストを送信してください。</p>
    
    <h2>手動削除</h2>
    <p>以下のメールアドレスに削除リクエストを送信してください：</p>
    <p><a href="mailto:sunnydays.supersale@gmail.com">sunnydays.supersale@gmail.com</a></p>

    <h2>自動削除</h2>
    <p>アカウントにログインし、以下のリンクをクリックしてデータ削除を実行できます：</p>
    <p><a href="/delete-user-data">データ削除を実行する</a></p>

    


<%- include('partials/footer') %>